.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.all-center {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.small-gap {
    gap: 15px;
}

.medium-gap {
    gap: 20px;
}

.large-gap {
    gap: 25px;
}

.small-margin-top {
    margin-top: 7px;
}

.lightest {
    color: var(--lightest);
}

.ul-unstyled {
    list-style-type: none;
}

.divider {
    border-bottom: 1px solid;
    width: 94%;
    margin: 0 auto;
}

 .divider-primary {
    border-color: var(--light);
}

 .divider-accent {
    border-color: var(--accent-light);
}