.font-size-medium {
    font-size: 24px;
}

.emphasis {
    font-size: 24px;
    font-weight: 700;
}

.aside {
    font-size: 18px;
    opacity: 0.75;
}

.largeHeading {
    font-family: 'Crete Round', serif;
    font-size: 48px;
    width: 100%;
    text-align: center;
    margin: -3px 0 0 0;
}

.smallHeading {
    color: var(--accent-darkest);
    font-size: 28px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}