*, *::before, *::after {
    box-sizing: inherit;
    /* border: 1px solid red; */
}

:root {
    --white: #FFFFFF;
    --warning: #ff3700;
    --star: #FFEC51;
    --bg: #ffffff;
    /* Primary colour */
    --darkest: #55423d;
    --light: #E1D4D0;
    --vivid: #ff5900;
    --lightest: #fffffe;
    /* Accent colour */
    --accent-darkest: #232946;
    --accent-vivid: #00f7ff;
    --accent-light: #b8c1ec;
    --accent-lightest: #fffffe;
    /* Border radius options */
    --int-br-small: 5px;
    --int-br: 10px;
    --ext-br: 15px;
    --crcl-br: 100px;
    /* Main container shadow styles, a bit overkill 
    but I think they look nice :-) */
    --shadow-color: 0deg 0% 60%;
    --shadow-color-modal: 19deg 47% 20%;
    --shadow-elevation-high:
    0px 0.8px 0.6px hsl(var(--shadow-color) / 0.75),
    0px 1px 0.8px -0.6px hsl(var(--shadow-color) / 0.67),
    0px 2.1px 1.6px -1.1px hsl(var(--shadow-color) / 0.6),
    0.1px 5.1px 3.8px -1.7px hsl(var(--shadow-color) / 0.52),
    0.1px 10.9px 8.2px -2.2px hsl(var(--shadow-color) / 0.45),
    0.3px 20.5px 15.4px -2.8px hsl(var(--shadow-color) / 0.37),
    0.5px 34.9px 26.2px -3.3px hsl(var(--shadow-color) / 0.3),
    0.7px 54.9px 41.2px -3.9px hsl(var(--shadow-color) / 0.22),
    1.1px 81.5px 61.1px -4.4px hsl(var(--shadow-color) / 0.15),
    1.5px 115.7px 86.8px -5px hsl(var(--shadow-color) / 0.07);
    --shadow-modal:
    0px 0.8px 0.6px hsl(var(--shadow-color-modal) / 0.30),
    0px 1px 0.8px -0.6px hsl(var(--shadow-color-modal) / 0.30),
    0px 2.1px 1.6px -1.1px hsl(var(--shadow-color-modal) / 0.28),
    0.1px 5.1px 3.8px -1.7px hsl(var(--shadow-color-modal) / 0.25),
    0.1px 10.9px 8.2px -2.2px hsl(var(--shadow-color-modal) / 0.23),
    0.3px 20.5px 15.4px -2.8px hsl(var(--shadow-color-modal) / 0.22),
    0.5px 34.9px 26.2px -3.3px hsl(var(--shadow-color-modal) / 0.17),
    0.7px 54.9px 41.2px -3.9px hsl(var(--shadow-color-modal) / 0.13),
    1.1px 81.5px 61.1px -4.4px hsl(var(--shadow-color-modal) / 0.10),
    1.5px 115.7px 86.8px -5px hsl(var(--shadow-color-modal) / 0.07);
}

body, html {
    padding: 0;
    margin: 0;
    scrollbar-gutter: stable;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--darkest);
    /* overflow-y: hidden; */
}

form > *,
button {
    font-family: inherit;
    color: var(--darkest);
}

button {
    border: none;
    cursor: pointer;
}

i,
button > *,
button:disabled,
.btn-view-basket > * {
    pointer-events: none;
}

button:hover {
    transform: scale(1.04);
}

button:active {
    transform: scale(1.0);
}

button:disabled {
    opacity: 0.5;
}

/* Hide labels */
label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
}

a {
    color: var(--lightest);
}

a:hover {
    color: var(--light)
}


h1 {
    font-family: 'Crete Round', serif;
    color: var(--lightest);
    font-size: 64px;
    font-weight: 400;
    line-height: 0.7;
}

/* Page element styles */
.div-app-outer {
    background-color: var(--darkest);
    background-image: url('assets/beans.png');
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 600px;
    border-radius: var(--ext-br);
    box-shadow: var(--shadow-elevation-high);
    padding-top: 25px;
    margin: 50px auto;
}
