.menuOptions {
    composes: flexColumn generous from '../css/layout.css'
}

.orderTypeContainer {
    composes: flexRow cozy alignAll from '../css/layout.css';

    .typeBtn,
    .typeBtnSelected { 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: var(--lightest);
        background-color: var(--light);
        font-size: 24px;
        font-weight: 400;
        border-radius: var(--int-br);
        padding: 20px 0;
        flex-grow: 1;
        color: var(--lightest)
    }   

    .typeBtnSelected {
        background-color: var(--darkest);
    }
    
}

.filterList {
    composes: flexRow generous ulUnstyled from '../css/layout.css';

    .filterItem {
        flex-grow: 1;

    }

    .filterBtn,
    .filterBtnSelected {
        background-color: var(--light);
        color: var(--lightest);
        font-size: 20px;
        border-radius: var(--int-br-small);
        width: 100%;
        padding: 8px 0;
    }
    
    .filterBtnSelected {
        background-color: var(--darkest);
    }
}

.menuList {
    composes: flexColumn ulUnstyled from '../css/layout.css';
    margin: 6px auto;
    
    .menuItem {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        .image { 
            width: 100px;
            aspect-ratio: 1/1;
            align-self: center;
        }

        .itemInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            width: 100%;
            padding: 0 20px;
        }

        .btn {
            background-color: var(--darkest);
            border-radius: 50px;
            align-self: center;
            line-height: 0;
            color: var(--lightest);
            padding: 14px;
        }
    }
}

.itemName {
    font-size: 24px;
    font-weight: 700;
}

.itemDetail {
    font-size: 18px;
    opacity: 0.75;
}

.divider {
    composes: divider dividerPrimary from '../css/layout.css'
}