.formTitle {
    color: var(--accent-darkest);
    font-weight: 400;
    margin: 0;
}

.cardEntryForm * {
    font-weight: 300;
}

.cardEntryForm *:focus,
.discountInput:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--accent-vivid);
}

.cardEntryForm {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    gap: 20px;
}

.flexRowContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fullWidthInput {
    width: 100%;
}

.halfWidthInput {
    flex-grow: 1;
    width: 50%;
}

.fullWidthInput,
.halfWidthInput {
    background-color: var(--white);
    padding: 18px 13px;
    color: var(--accent-darkest);
    border-radius: var(--int-br);
    border: 1px solid var(--accent-light);
}

.selection {
    background: url('assets/arrow.png');
    background-repeat: no-repeat;   
    background-size: 5%;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.fullWidthInput::placeholder {
    color: var(--accent-light);
}

.ccv {
    width: 50%;
}

.ccvDescription {
    width: 50%;
    color: var(--accent-light);
    font-size: 18px;
    line-height: 1.3;
}

.discount {
    position: relative;
}

.btnDiscount {
    composes: btn from './modal.module.css';
    position: absolute;
    bottom: 11px;
    right: 9px;
    z-index: 2;
    padding: 4px;
}