.modal {
    background-color: var(--accent-lightest);
    color: var(--accent-darkest);
    font-size: 22px;
    border: none;
    border-radius: var(--int-br);
    min-width: 550px;
    width: 550px;
    min-height: 997px;
    height: 997px;
    overflow-y: hidden;
    box-shadow: var(--shadow-modal);
    position: absolute;
    top: 75px;
    left: 0;
    margin: 0 auto;
    padding: 25px;
}

/* Main modal layout styles */

.inner {
    justify-content: start;
    height: 100%;
}

.inner,
.header {
    composes: flex-column large-gap from '../css/layout.css';
    gap: 25px;
}

.footer {
    composes: flex-column large-gap from '../css/layout.css';
    width: 100%;
    margin-top: auto;
}

/* Generic modal button styles */
.btn {
    background-color: var(--accent-darkest);
    color: var(--accent-lightest);
    border-radius: var(--crcl-br);
    padding: 7px;
    line-height: 0;
}

.btnTopRight {
    composes: btn;
    position: absolute;
    top: 25px;
    right: 25px;
}

.btnTopLeft {
    composes: btn;
    position: absolute;
    top: 25px;
    left: 25px;
}

.btnMain {
    background-color: var(--darkest);
    font-family: 'Crete Round', serif;
    font-size: 36px;
    color: var(--lightest);
    border-radius: var(--int-br);
    padding: 30px 0;
}

.title {
    composes: largeHeading from '../css/type.css';
    width: 100%;
    text-align: center;
    margin: -3px 0 0 0;
}

.subtitle {
    composes: smallHeading from '../css/type.css';
    font-weight: 300;
    width: 100%;
    text-align: center;
}


.divider {
    composes: divider from '../css/layout.css';
    composes: divider-accent from '../css/layout.css';
}

.overflow {
    margin-right: -18px;
    padding: 0 11px 0 0;
    height: 100%;
    overflow-y: scroll;
}

.overflow::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.overflow::-webkit-scrollbar-thumb {
    background-color: var(--accent-darkest);
    opacity: 0.6;
    border-radius: 5px;
}

.rowSpaceBetween {
    composes: flex-row from '../css/layout.css';
    justify-content: space-between;
}

.total {
    composes: flex-row from '../css/layout.css';
    composes: emphasis from '../css/type.css';
    justify-content: space-between;
}

.discount {
    display: inline;
    font-size: 18px;
    background: var(--accent-darkest);
    color: var(--accent-vivid);
    border-radius: var(--int-br-small);
    padding: 5px 10px;
}

.warning {
    box-shadow: 0 0 1px 1px var(--warning);
}