.darker {
    color: var(--accent-darkest);
    line-height: 1.4;
}

.itemList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li:last-of-type {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
}