.ul {
    composes: flex-column large-gap ul-unstyled from '../css/layout.css';
    padding: 0;
    width: 100%;
    margin-bottom: auto;
}

.li {
    composes: flex-column small-gap from '../css/layout.css';
    font-size: 18px;
}

.li p:last-of-type {
    font-size: 18px;
}